{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BCIIT Events</title>
    <link rel="stylesheet" href="{% static 'testapp/css/events.css' %}">
</head>
<body>

    <header class="header">
        <h1>BCIIT Events</h1>
        <div class="nav-box">
            <div class="nav-box">
          <a href="{% url 'home' %}" class="btn btn-outline-light nav-btn">HOME</a>
          <a href="{% url 'students' %}" class="btn btn-outline-light nav-btn">STUDENTS</a>
          <a href="{% url 'events' %}" class="btn btn-outline-light nav-btn">EVENTS</a>
        </div>
      </header>

    <div class="events-container">
        <div class="event-card">
            <img src="{% static 'testapp/images/event1.jpg' %}" alt="Event 1">
            <h3>Seminar on Awareness of CYBER CRIME</h3>
            <p>Join us for a session on cyber crime awareness and online safety tips.</p>
            
        </div>
        <div class="event-card">
            <img src="{% static 'testapp/images/event2.jpg' %}" alt="Event 2">
            <h3>Upgrade Yourself for Corporates</h3>
            <p>A seminar to help you improve your skills and prepare for the corporate world.</p>
            
        </div>
        <div class="event-card">
            <img src="{% static 'testapp/images/event3.jpg' %}" alt="Event 3">
            <h3>Tech-O-Fun</h3>
            <p>Participate in fun tech games like coding competitions and quizzes!</p>
            
        </div>
        <div class="event-card">
            <img src="{% static 'testapp/images/event4.jpg' %}" alt="Event 3">
            <h3>Generative AI</h3>
            <p>Participate for the knowledge of the future Artificial Intelligence!</p>
            
        </div>
        <div class="event-card">
            <img src="{% static 'testapp/images/event5.jpg' %}" alt="Event 3">
            <h3>Innovatup '25</h3>
            <p>Participate with your innovation of new Technology and ideas!</p>
            
        </div>
    </div>
    <a href="javascript:history.back()" class="btn btn-warning back-btn">← Back</a>
</body>
</html>
